:root {
  --x-121314: rgba(18, 19, 20, 1);
  --ffffff: rgba(255, 255, 255, 1);
  --x-2e-6ff-2main: rgba(46, 111, 242, 1);
  --x-8d-9299: rgba(141, 146, 153, 1);
  --f-3f-5fa: rgba(243, 245, 250, 1);
  --d-9dbe-0: rgba(217, 219, 224, 1);
}